@import "tailwindcss";

/* --- A LINHA MÁGICA PARA TAILWIND v4 --- */
/* Isso força o 'dark mode' a funcionar via classe (.dark), e não pelo sistema */
@variant dark (&:where(.dark, .dark *));

:root {
  /* MODO CLARO (Padrão) */
  --background: #FFFFFF;
  --foreground: #0c4a6e;
}

/* Define as variáveis de cor quando a classe .dark estiver presente */
.dark {
  --background: #020617;
  --foreground: #e0f2fe;
}

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Garante a transição suave também nos títulos */
h1, h2, h3, h4 {
  transition: color 0.3s ease;
}

.dark h1, .dark h2, .dark h3 {
  color: #f0f9ff;
}